<section class="block container">
    <header class="block__header">
      <h3 class="block__heading">Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam dolorem
        soluta harum similique ipsum quod voluptatibus amet ullam perspiciatis
        dolorum!
      </p>
    </header>
    <div>
      <div class="card card--secondary" style="width: 30%">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, amet!
        </div>
      </div>
    </div>      
  </section>
  <section class="block block__dark block--skewed-right">
    <div class="container">
      <h3 class="block__heading">Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam dolorem
        soluta harum similique ipsum quod voluptatibus amet ullam perspiciatis
        dolorum!
      </p>
    </div>
  </section>