<footer class="block block--dark footer">
    <div class="contatiner grid footer__sectinos">
      <section class="collapsible collapsible--expanded footer__section">
        <header class="collapsible__header">
          <h3 class="collapisble__heading">Products</h3>
          <svg class="icon collapsible__chevron">
            <use xlink:href="images/sprites.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">WordPress Hosting</a></li>
            <li><a href="#">Free Automated WordPress</a></li>
            <li><a href="#">Migration</a></li>
            <li><a href="#">Domain name</a></li>
            <li><a href="#">Monthly Web Hosting</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header footer__heading footer__sectinos">
          <h3 class="collapisble__heading">company</h3>
          <svg class="icon collapsible__chevron">
            <use xlink:href="images/sprites.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Affilates</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Carriers</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Green Hosting</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section footer__sectinos">
        <header class="collapsible__header footer__heading">
          <h3 class="collapisble__heading">Support</h3>
          <svg class="icon collapsible__chevron">
            <use xlink:href="images/sprites.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">System status</a></li>
            <li><a href="#">Web Hosting</a></li>
            <li><a href="#">Dream Compute</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible footer__section footer__sectinos">
        <header class="collapsible__header footer__heading">
          <h3 class="collapisble__heading">Domains</h3>
          <svg class="icon collapsible__chevron">
            <use xlink:href="images/sprites.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Domain Checker</a></li>
            <li><a href="#">Domain Transfer</a></li>
            <li><a href="#">Free Domain</a></li>
            <li><a href="#">xyz Domain</a></li>
            <li><a href="#">cheap SSL Certificate</a></li>
          </ul>
        </div>
      </section>
      <section class="footer__brand">
        <img src="images/logo.svg" alt="logo copyright" />
        <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
      </section>
    </div>
  </footer>